*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
.git
wave-function-collapse/.httpCache
wave-function-collapse/.storage
fmod/src/*/resources
**.tiled-session
**/fmodMain/.cache
**/fmodMain/.unsaved
**/fmodMain/.user
/platformer/.httpCache/.cacheIndex
/platformer/.storage/.keyValueStorage.json
/platformer/fmod.dll
/platformer/fmodstudio.dll
/platformer/local/
/platformer/src/jsMain/resources/fmodstudio.js
/platformer/src/jsMain/resources/fmodstudio.wasm
/platformer/src/jsMain/resources/fmodstudioL.js
/platformer/src/jsMain/resources/fmodstudioL.wasm
/platformer/src/jsMain/resources/fmodstudioP.js
/platformer/src/jsMain/resources/fmodstudioP.wasm
/platformer/src/jsMain/resources/fmodstudioPL.js
/platformer/src/jsMain/resources/fmodstudioPL.wasm
